:root {
  --primary: #22252a;
  --primary-400: #272a30;
  --primary-300: #2e3138;
  --secondary: #007B8A;
  --accent: #E63946;
  --text: #F1FAEE;
  --text-secondary: #c6c8c5;
  --border: #2e3138;
  --border-accent: hsl(357, 15%, 25%);
  --background-accent: hsl(354, 15%, 13%);
}

html{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

body {
  background: var(--primary);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.content-container {
  display: flex;
  
}

.loading-div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-top: 4px solid var(--accent);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



