.detail-content-container{
    margin-top: 81px;
    margin-left: 247px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--primary);
}

.title{
    font-size: 34px;
    color: var(--text);
    width: 80%;

}

.local{
    font-size: 24px;
    color: var(--text-secondary);
    margin-top: 10px;
    width: 80%;
}
