.SideBarDataContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    gap: 24px;
}

.itemContainer{
    display: flex;
}

.itemLink{
    text-decoration: none;
}

.itemName{
    font-size: 16px;
    color: var(--text-secondary);
    margin-right: auto;
    text-decoration: none;
}

.itemName:hover{
    color: var(--text);
    cursor: pointer;
}

.Title{
    font-size: 24px;
    color: var(--text);
}


