
.stats-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 180px;
    padding: 18px;
    background-color: var(--primary-300);
    border-radius: 10px;
    border: 1px solid var(--border);

}

.stats-card-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}

.stats-card-value{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text);
}

.stats-card-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}